<ion-header>
  <ion-navbar>
    <ion-title>
      地源热泵服务费
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button *ngIf="!openId" ion-button full color="{{socialProvider == 0 ? 'secondary' : 'primary'}}" (click)="authClick()">登录</button>
  <div *ngIf="selectedGshp">
    <ion-list>
      <room-selector roomId="{{roomId}}" (onRoomChange)="roomChange($event[0])"></room-selector>
      <ion-item>
        <ion-label>缴费区间</ion-label>
        <span item-right>{{selectedGshp.bill_date}}</span>
      </ion-item>
      <ion-item>
        <ion-label>基本费</ion-label>
        <span item-right>￥{{selectedGshp.cost_amount}}</span>
      </ion-item>
      <ion-item>
        <ion-label>热水表起止码</ion-label>
        <span item-right>{{selectedGshp.hotwater}}</span>
      </ion-item>
      <ion-item>
        <ion-label>热水使用费</ion-label>
        <span item-right>￥{{selectedGshp.hotwater_amount}}</span>
      </ion-item>
      <ion-item>
        <ion-label>空调表起止码</ion-label>
        <span item-right>{{selectedGshp.aircon}}</span>
      </ion-item>
      <ion-item>
        <ion-label>空调使用费</ion-label>
        <span item-right>￥{{selectedGshp.aircon_amount}}</span>
      </ion-item>
      <ion-item>
        <ion-label>账户余额</ion-label>
        <span item-right>￥{{selectedGshp.balance}}</span>
      </ion-item>
      <ion-item>
        <ion-label>缴费金额</ion-label>
        <span item-right>￥{{selectedGshp.money}}</span>
      </ion-item>
    </ion-list>
    <button ion-button full color="{{socialProvider == 0 ? 'secondary' : 'primary'}}" (click)="createOrder()" [disabled]="selectedGshp.money==0">立即缴费</button>
  </div>
</ion-content>
